
* {
  background-color: rgb(247, 247, 247);
  color: #333;
  margin: 3px; }
  .nav{
    -webkit-box-shadow: 0 8px 6px -6px rgb(43, 42, 42);
	   -moz-box-shadow: 0 8px 6px -6px rgb(43, 42, 42);
	        box-shadow: 0 8px 6px -6px rgb(43, 42, 42);
  }